<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="/static/style.css" media="screen" />
</head>
{% block content %}
<body>
    <h1>Phase 2 Project</h1>
    <p>As we've discussed in class, data science is a broad field encompassing various different roles. As data scientists, you will be specializing in a specific area and you all will not be doing the same things. So our project will address this.
    "For our final project, you will be choosing one area of data science to focus on and you will work accordingly:</p>
    <h2>For those of us that would like to focus on <b>data engineering</b></h2>
    <ul>
        <li>Find data from a source from a web source and scrape it.</li>
        <li>Clean up the data and organize it in a way that makes it useful.</li>
        <li>Store your data in an sql database and create a flask api to access this data.</li>
        <li>Find data from a source from a web source and scrape it or csv file.</li>
        <li>Automate this entire process so that data can be pulled frequently. Your API must update when new information is pulled</li>
        <li>Store your data in an sql database and create a flask api to access this data.</li>
    </ul>
    <h2>For those of us that would like to focus on <b>data analysis/business intelligence</b></h2>
    <ul>
        <li>Come up with a research goal and do some initial research pertaining to the topic.</li>
        <li>Form a hypothesis based on this research and set out to prove/disprove it.</li>
        <li>Find relevant data and clean it up so that it can be used for your purposes. Try to find actionable data that can provide insight into your research goal. Use visualizations to communicate your information.</li>
        <li>Perform exploratory analysis of this data in order to gather insights into your data that is related to your hypothesis. Document your process and report your findings.</li>
        <li>If doing a business intelligence based project, you must come up with a research goal related to a business' specific needs and you will need to structure your final report so that the business can take action based on your findings.</li>
    </ul>
    <h2>For those of us who would like to focus on machine learning</h2>
    <ul>
        <li>If done solo, you will also need to find data, clean it up (if needed), wrangle the data so it's usable for your machine learning analysis and perform exploratory analysis.</li>
        <li>You will also have to come up with a research goal and form a hypothesis based on wanting to make predictions or classifying the data in some way. You are free to use machine learning algorithms not covered in class but linear/logistic regression analysis is expected.</li>
        <li>Find relevant data and clean it up so that it can be used for your purposes. Try to find actionable data that can provide insight into your research goal. Use visualizations to communicate your information.</li>
        <li>Document your process and report your findings. After training your model make sure you perform the relevant testing of said model and include your results in your report. Use visualizations liberally.</li>
    </ul>
    <p>More information for each of the three roles will be given as well as a rubric pertaining to each. Datasets will also be offered in the coming week if you are unable to find a suitable one yourself. Be sure to keep your projects reasonable as you will have until the end of the month to finish.
    <br>
    You are welcome to do these projects in a group. Each group member will be responsible for one of the roles as listed above. Roles can and will overlap. Group members can assist each other with the different roles. Groups must work on the same data</p>
    <style>
    </style>
    <table>
    </table>
</body>
{% endblock %}

</html>