<!DOCTYPE html>
<html>
  <head> 
      <title>About Me</title>
      <link rel="stylesheet" type="text/css" href="/static/style.css" media="screen"/>
  </head>
  <body>
    <div class= "banner">
      <div class= "title">
        <h1>Introduction</h1>
        <a href="/">HomePage</a>
      </div>
      <div class="nav">
        <ul>
          <li><a href="/CO2">About CO2 Emissions</a></li>
          <li><a href="/api">Api</a></li>
          <li><a href="/EmissionsTable">Emissions Table</a></li>
          <li><a href="/PopulationTable">Population Table</a></li>
        </ul>
      </div>
    </div>
    <div class="about-me">
      <div class="profile">
        <img src="https://media-exp1.licdn.com/dms/image/C5603AQEvCGLdW95hBg/profile-displayphoto-shrink_200_200/0/1589594152693?e=1611792000&v=beta&t=GZfP87HRpy6CbblqYkpd_lMqIH2WTayGY7otK02yVeQ" alt="LinkedIn Profile Picture" width="300">
        <div class="social-media">
          <ul>
              <li><img src= "https://image.flaticon.com/icons/svg/61/61109.svg" alt="Linkedin" class="logo" style="width:20px;height:20px;"> 
              <a href=https://www.linkedin.com/in/clarizamayo>Linkedin</a></li>
              <li><img src= "https://upload.wikimedia.org/wikipedia/commons/c/c6/Font_Awesome_5_brands_github-square.svg" alt="Github" class="logo"style="width:25px;height:25px;"> 
                  <a href=https://github.com/clarizamayo/TKH_Modules>Github</a></li>
          </ul>
        </div>
      </div>
        <div class="about-me-text">
            <h2>About Me</h2>
            <p>My name is Clariza and I am an aspiring Data Scientist. As a current Science Data Fellow, I was tasked to create a flask application that will display scraped data stored in an API. I chose to analyze CO2 Emissions and how a country's population affects the quantity it produces.</p>   
            <p>As an extroverted and personable communicator with proven track record in data analysis, my focus is to build strong professional relationships and skills to set valuable asset throughout my career. </p>
        </div>
    </div>
      <div class="contact-form">
          <h2>Contact Me!</h2>
          <form class="contact">
              <label for="name">Name:</label><br>
              <input type="text" name="name"><br>
              <label for="email">Email:</label><br>
              <input type="text" name="email"><br>
              <label for="message"> Your message</label><br>
              <input type="text" name="message"><br>
              <input type="submit"name="Contact"><br>
          </form>
      </div> 
      <div class="footer">
          <p>Copyright 2020 ClarizaMayo</p>
      </div>
  </body>
  <table>
    {% block body %}{% endblock %}
  </table>
</html>