<!DOCTYPE html>
<html>
<head>
 <title></title>
 <link rel="stylesheet" type="text/css" href="/static/style.css" media="screen"/>
</head>
<body>
<style>
</style>
<table>
    <thead>
        <tr>
            <th>{{ "Host Response Time" }}</th>
            <!-- <th>{{ "Population" }}</th> -->
        </tr>
    </thead>
    <tbody>
        {% for row in data[1] %}
        <tr> 
            <td> {{ row.host_response_rate }} </td>
            <!-- <td>{{ row.population }}</td> -->
        </tr>
        {% endfor %}
    </tbody>
</table> 
</body>
</html>

    <!-- id,host_response_time,host_response_rate,host_is_superhost,host_has_profile_pic,neighbourhood_cleansed,latitude,longitude,is_location_exact,property_type,room_type,accommodates,bathrooms,bedrooms,beds,bed_type,amenities,square_feet,price,guests_included,minimum_nights,maximum_nights,calendar_updated,availability_30,number_of_reviews,review_scores_rating,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,reviews_per_month -->